@model IEnumerable<UserBooksModel>
<div class="flex flex-row w-full justify-start">
    <article class="prose mr-auto">
        <h1>My  books</h1>
    </article>
    <div>
        <a asp-controller="MyBooks" asp-action="Add" class="btn btn-primary">Add a book</a>
    </div>
</div>
<div class="overflow-x-auto">
    <table class="table">
        <!-- head -->
        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Date read</th>
            <th>Rating</th>
            <th>Genre</th>
        </tr>
        </thead>
        <tbody>
        <!-- iterates through obj and puts all the rows in the table -->
            @* @foreach (var obj in Model) *@
            @* { *@
            @*     <tr class="hover"> *@
            @*         <th>1</th> *@
            @*         <td width="40%"> *@
            @*             @obj.BookId *@
            @*         </td> *@
            @*         <td> *@
            @*             @obj.ArchiveUserName *@
            @*         </td> *@
            @* *@
            @*     </tr> *@
            @* } *@
            <tr class="hover">
                <th>1</th>
                <td>
                    <a class="link link-primary">
                        The Lion, the Witch and the Wardrobe
                    </a>
                </td>
                <td>
                    JR Tolkien
                </td>
                <td>
                    02/08/22
                </td>
                <td>
                    4
                </td>
                <td>
                    Fantasy
                </td>
            </tr>
            <tr class="hover">
                <th>2</th>
                <td>
                    <a class="link">
                        Farenheit 451
                    </a>
                </td>
                <td>
                    Ray Bradley
                </td>
                <td>
                    12/01/21
                </td>
                <td>
                    3
                </td>
                <td>
                    Dystopian
                </td>
            </tr>
            @{
                foreach (var item in Model)
                {
                    <tr class="hover">
                        <th>1</th>
                        <td>
                            @item.BookName
                        </td>
                        <td>
                            Ray Bradley
                        </td>
                        <td>
                            12/01/21
                        </td>
                        <td>
                            3
                        </td>
                        <td>
                            Dystopian
                        </td>
                    </tr>
                }
            } 
        </tbody>
    </table>
</div>  