@using Microsoft.AspNetCore.Identity
@using BookArchives.Areas.Identity.Data

@inject SignInManager<BookArchivesUser> SignInManager
@inject UserManager<BookArchivesUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16" />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
            <li><a asp-controller="MyBooks" asp-action="Index">My Books</a></li>
            <li>
              <a asp-controller="Explore" asp-action="Index">Explore</a>
            </li>
            <li><a class="btn btn-primary" id="" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
          </ul>
        </div>
        <a class="btn btn-ghost text-xl">daisyUI</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a asp-controller="MyBooks" asp-action="Index">My Books</a></li>
          <li>
              <a asp-controller="Explore" asp-action="Index">Explore</a>
          </li>
          <li><a class="btn btn-primary" id="" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <a class="btn hidden">Button</a>
      </div>
    </div>
}
else
{
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    <li><a asp-controller="MyBooks" asp-action="Index">My Books</a></li>
                    <li>
                        <a asp-controller="Explore" asp-action="Index">Explore</a>
                    </li>
                    <li><a class="btn btn-primary" id="" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
                </ul>
            </div>
            <a class="btn btn-ghost text-xl">daisyUI</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a asp-controller="MyBooks" asp-action="Index">My Books</a></li>
                <li>
                    <a asp-controller="Explore" asp-action="Index">Explore</a>    
                </li>
                <li><a class="btn btn-primary" id="" asp-area="Identity" asp-page="/Account/Logout">Logout</a></li>
            </ul>
        </div>
        <div class="navbar-end">
            <a class="btn btn-outline" id="" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="btn btn-primary" id="" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
    
}

