<!-- each card holds a book -->
<div class="card card-compact md:card-normal bg-base-100 w-full shadow-xl">
    <figure>
        <img
            src="https://is5-ssl.mzstatic.com/image/thumb/Music123/v4/43/a5/62/43a56231-7f02-62f8-3e6d-94c2f5daee8d/9781338334906_cover.jpg/100000x100000-999.jpg"
            alt="The Hunger Games" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            The Hunger Games
            @* <div class="badge badge-secondary">Young Adult</div> *@
        </h2>
        <p>By Justine Coleman</p>
        <div class="card-actions justify-end">
            <div class="badge badge-outline">Young Adult</div>
            <div class="badge badge-outline">Fiction</div>
        </div>
    </div>
</div>

