<div class="flex flex-col lg:flex-row px-0.5 md:px-4 lg:px-12 xl:px-44 w-full gap-2 xl:gap-4 items-center lg:items-start">
    <div class="flex flex-col gap-3 w-full sm:w-3/4 lg:w-1/4 align-items-center">
        <img
            src="https://is5-ssl.mzstatic.com/image/thumb/Music128/v4/60/15/9f/60159f04-dfea-82be-4387-c8a4c59b2aed/9780062368690.jpg/100000x100000-999.jpg"
            alt="To Kill a Mockingbird"/>
        <button class="btn w-full">Want to read</button>
        <button class="btn w-full">Buy on Amazon</button>
    </div>
    
    <div class="w-3/4">
        <article class="prose prose-sm md:prose-base">
            <div class="flex flex-col gap-0.5">
                <a asp-controller="Explore" asp-action="Index" class="link">Back to Explore</a>
                <h2>To Kill a Mockingbird</h2>
                <h3>Harper Lee</h3>
                <div class="rating">
                    <input type="radio" name="rating-1" class="mask mask-star"/>
                    <input type="radio" name="rating-1" class="mask mask-star" checked="checked"/>
                    <input type="radio" name="rating-1" class="mask mask-star"/>
                    <input type="radio" name="rating-1" class="mask mask-star"/>
                    <input type="radio" name="rating-1" class="mask mask-star"/>
                </div>
                <p>
                    The unforgettable novel of a childhood in a sleepy Southern town and the crisis of conscience that rocked it. "To Kill A Mockingbird" became both an instant bestseller and a critical success when it was first published in 1960. It went on to win the Pulitzer Prize in 1961 and was later made into an Academy Award-winning film, also a classic.
                </p>
            </div>
        </article>
    </div>
</div>
