<div class="px-6">
    <div class="flex flex-row w-full justify-start">
        <div class="mr-auto">
            <article class="prose prose-sm md:prose-base">
                <h1>Explore</h1>
            </article>
        </div>
            <div class="">
                <div class="form-control">
                  <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto justify-self-end" />
                </div>
            </div>
    </div>
    
    
    <div class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8 md:gap-2 lg:gap-4 px-1 md:px-1 gap-x-4 md:gap-x-2 pt-2 lg:pt-3">
        <partial name="BookCard"/>  
        <partial name="BookCard"/>    
        <partial name="BookCard"/>    
        <partial name="BookCard"/>    
        <partial name="BookCard"/>    
        
        
    </div>
</div>

